#main-content h1,
#main-content h2,
#main-content h3,
#main-content h4,
#main-content h5,
#main-content h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#main-content h2::before,
#main-content h3::before,
#main-content h4::before,
#main-content h5::before,
#main-content h6::before {
    display: none;
}

figure {
    margin: 0 !important
}
table {
    width: auto;
}
table td, th {
    padding: 0 0.5em;
}